<!-- section.scss -->
<a href="{{ post.url | relative_url }}">
  <div class="section-card">
    <h2 class="section-card-title">
      {% if post.tags contains "top" %}
        <span class="section-card-label">置顶</span>
      {% elsif post_date == today %}
        <!-- <span class="card__titil-label">新</span> -->
      {% elsif post_date >= one_week_ago %}
        <!-- <span class="card__titil-label">本周</span> -->
      {% elsif post_date >= thirty_days_ago %}
        <!-- <span class="card__titil-label">本月</span> -->
      {% else %}
        <!-- <span class="card__titil-label"></span> -->
      {% endif %}
      {{ post.title }}
    </h2>

    {% assign file_date = post.path | split: '/' | last | split: '.' | first | split: '-' | slice: 0, 3 | join: '-' %}
    <p class="section-card-original">[发布日期: {{ file_date }}]</p>

    <p class="section-card-excerpt">
      {{ post.excerpt | strip_html | truncate: 100, "..." }}
    </p>

    <p class="section-card-meta">作者: {{ post.author | default: site.author }} | 编辑: {{ post.date | date: "%Y-%m-%d" " }} | 阅读: {{ post.reading_time | default: "5" }} 分钟</p>
  </div>
</a>
