<!-- section.scss -->
<a href="{{ post.url | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
  <div class="section-card">
    <h2 class="section-card-title">
      {% if post.tags contains "置顶" %}
        <span class="section-card-label">[置顶]</span>
      {% else %}
        <!-- <span class="card__titil-label"></span> -->
      {% endif %}
      {{ post.title }}
    </h2>

    <p class="section-card-excerpt">
      {{ post.excerpt | strip_html | truncate: 100, "..." }}
    </p>

    <p class="section-card-meta">作者: {{ post.author | default: site.author }} | 编辑: {{ post.date | date: "%Y-%m-%d" " }} | 阅读: {{ post.reading_time | default: "5" }} 分钟</p>
  </div>
</a>
