/* 确保 body 和 html 高度为 100% */
html, body {
  height: 90%;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:20px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
  flex: 1; /* 让内容区域占据剩余的空间 */
  padding-top: 3.5rem; /* 给顶部留出空间，避免被导航栏遮挡 */
  padding-bottom: 2.5rem; /* 给底部留出空间，避免被页脚遮挡 */
}

/*主页内容(链接)*/
.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-page-content a {
  font-size: 2rem;
  padding: 2px 6px; /* 调整内边距，使点击区域更大 */
  margin: 5px auto; /* 给每个链接添加间隔 */
  text-decoration: none; /* 去掉默认下划线 */
  border: 1px solid #ccc; /* 为每个链接添加边框 */
  border-radius: 5px; /* 可选，圆角边框 */
}

/* 错误消息样式 */
.not-found {
    position: absolute;      /* 设置绝对定位 */
    top: 50%;                /* 距离顶部50% */
    left: 50%;               /* 距离左边50% */
    transform: translate(-50%, -50%); /* 向左和向上移动自身宽度和高度的一半 */
    font-size: 8rem;         /* 大字体 */
    color: #333;
    letter-spacing: 0.1em;   /* 字母间距 */
    text-align: center;      /* 使文本水平居中 */
}

footer {
  display: flex;
  padding: 1rem 0px 0; /* 可选：增加一些内边距 */
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center; /* 水平居中内容 */
  text-align: center; /* 使文本内容在每行内居中 */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* 确保背景宽度为100% */
  background-color: #f8f9fa; /* 可选背景颜色 */
  z-index: 1000;
}
