/* 设置文章版块页面样式 */
.section {
  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 2rem;    /* 设置每个 li 元素底部间距 */
    &:last-child {
      margin-bottom: 0;     /* 最后一个 li 元素不需要底部间距 */
    }
  }
}

/* 文章卡片容器样式 */
.section-card {
  list-style: none; /* 去掉列表点 */
  max-width: 800px;
  margin: 20px 0px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.section-card-label {
  color: #FF0000;
  /*font-size: 1.5em;*/
  /*padding: 0.1em 0.1em;*/
  /*background-color: #AAAAAA;*/
  /*border: 1px solid #ccc; /* 为每个链接添加边框 */
  /*border-radius: 5px; /* 可选，圆角边框 */
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* 文章卡片标题样式 */
.section-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin: 0;
}


/* 文章卡片发布时间 */
.section-card-original,
/* 文章卡片摘要 */
.section-card-excerpt,
/* 文章卡片更新日期、阅读时间、作者信息样式 */
.section-card-meta {
  font-size: 0.85em;
  color: #666;
  margin: 1rem 0.5rem;
}

