---
layout: page
---

<h1>{{ page.title }}</h1>

<small>
  <div id="article-info">编辑：{{ page.date | date: "%Y-%m-%d" }}, 作者: {{ page.author | default: site.author }}, 阅读量：<span id="busuanzi_value_page_pv">???</span>
</small>

<!-- 分享链接 -->
<script src="{{ '/assets/js/copy_short_link.js' | relative_url }}"></script>
<div class="post-link">
  <small>分享：
    <input
      type="text"
      id="shortLink"
      value="{{ page.short_url }}"
      readonly
      onclick="copyShortLink()"
      class="short-link-input"
    />
  </small>
</div>

{% if page.toc %}
	<div class="post-toc">
	    <details class="post-toc-details">
	        <summary accesskey="c" title="(Alt + C)">
	            <span class="post-toc-title">文章目录</span>
	        </summary>
	        <div class="post-toc-inner">
	          <!-- 由自定义插件 toc-generator 生成 -->
	          {% toc_content %}
	        </div>
	    </details>
	</div>
{% endif %}

{{content}}


<!-- {% if page.waline %} -->
  <hr class="post-custom-line">
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      serverURL: 'https://otfo-cc.vercel.app/',
      avatar: 'qq',  // 头像
      meta: ['nick'], // 只需要昵称
      pageview: true,  // 浏览统计
      search: false,  // 表情包搜索
      login: 'force', // 强制要求登录
    });
  </script>
<!-- {% endif %} -->

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}


