---
layout: page
---
{{content}}
<div class="section">
  <ul>
    <!-- 先渲染置顶帖子 -->
    {% assign top_posts = site.posts | where: "tags", "top" %}
    {% for post in top_posts %}
      {% if page.section == "all" or post.tags contains page.section %}
        <li data-url="{{ post.url | prepend: site.baseurl }}">
          {% include card.html post=post %}
        </li>
      {% endif %}
    {% endfor %}

    <!-- 然后渲染非置顶帖子 -->
    {% for post in site.posts %}
      {% if post.tags contains "top" %}
        <!-- 不做任何操作，跳过置顶帖子 -->
      {% else %}
        {% if page.section == "all" or post.tags contains page.section %}
          <li data-url="{{ post.url | prepend: site.baseurl }}">
            {% include card.html post=post %}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>